.App-header {
  /* Theme primary color */
  background-color: #303f9f;
  color: white;
  display: grid;
  grid-template-columns: [first] 20% auto [last] 20%;
}

.App-Title {
  font-size: 2.7em;
  text-align: center;
}

.App-Content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.loading {
  margin: 15px;
}
