.HoldingsList {
  text-align: center;
}

.totalPerformance {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 25px 0;
}

.totalPerformance > div {
  display: flex;
  gap: 5px;
}

.Holding-row {
  cursor: pointer;
}

.Holding-row:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.holding > button {
  margin-left: auto;
}

.AddTradeDialog-button-container {
  margin: 15px;
}

.loading {
  margin: 15px;
}
