.App-header {
  background-color: #282c34;
  color: white;
  display: grid;
  grid-template-columns: [first] 20% auto [last] 20%;
}

.App-Title {
  font-size: 2.7em;
  text-align: center;
}

.App-Content {
  align-items: center;
  display: flex;
  flex-direction: column;
}
