asgiref==3.2.10
certifi==2020.6.20
chardet==3.0.4
Django==3.1.2
django-cors-headers==3.5.0
djangorestframework==3.12.1
djangorestframework-camel-case==1.2.0
idna==2.10
pip-autoremove==0.9.1
pysqlite3-binary==0.4.3
pytz==2020.1
requests==2.24.0
sqlparse==0.4.1
testfixtures==6.15.0
urllib3==1.25.11
